#buttonPlus {
    background-color: green;
    padding: 20px;
    font-size: xx-large;
}

#buttonMinus {
    background-color: red;
    padding: 20px;
    font-size: xx-large;
}




#container {
    height: 80vh;
    width: 70vh;
    border: solid 1px red;
    text-align: center;
    list-style-position: inside;
    font-size: xx-large;
    
}